<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {

        const minValue={{min|tojson}};
        const maxValue={{ max|tojson }};

        // console.log(typeof(minValue)+" "+maxValue)
        $("button").on("click", function () {
          var id = $("#index").val();
          if(parseInt(id)<minValue || parseInt(id)>maxValue){
            console.log("not right value "+minValue+" "+maxValue);
            return
          }
          var title = $("#title").val();
          var category = $("#category").val();
          var servings = $("#servings").val();
          var ingredients = $("#ingredients").val();
          var directions = $("#directions").val();
          var json_data = JSON.stringify({
              
              "title": title,
              "category": category,
              "servings": servings,
              "ingredients": ingredients,
              "directions": directions,
            });

          // console.log(typeof(json_data));

          //PUT REQUEST
          $.ajax({
            type: "PUT",
            url: `/update/${id}`,
            // data: JSON.stringify({
            //   title: title,
            //   category: category,
            //   servings: servings,
            //   ingredients: ingredients,
            //   directions: directions,
            // }),
            data: json_data,
            dataType: "json",
            contentType: "aplicaton/json",
            // accepts: "aplicaton/json",
            success: function (res) {
              console.log("Successful PUT");
            },
            error: function (error) {
              console.log(
                error.status + " " + error.statusText + " " + error.responseJSON
              );
            },
          });


        });


      });
    </script>
    <title>Edit Recipe</title>
  </head>
  <body>
    <h2>Edit Recipe</h2>
    Id:
    <input
      type="number"
      name="index"
      id="index"
      min="{{min}}"
      max="{{max}}"
    /><br />
    <!-- Id:
    <section id="selId">
      {% for id in ids %}
      <option value="{{id}} ">{{id}}</option>
      {% endfor %}
    </section> -->
    <br />
    Title: <input type="text" name="title" id="title" /><br />
    Category: <input type="text" name="category" id="category" /><br />
    Servings:
    <input type="number" min="1" name="servings" id="servings" /><br />
    Ingredients:
    <input type="text" name="ingredients" id="ingredients" /><br />
    Directions: <input type="text" name="directions" id="directions" /><br />
    <button id="submit" class="submit">Submit</button>
  </body>
</html>
