<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("form").on("submit", function () {
          event.preventDefault();
          var name = $("#name").val();
          var category = $("#category").val();
          var servings = $("#servings").val();
          var ingredients = $("#ingredients").val();
          var directions = $("#directions").val();
          $.ajax({
            type: "POSt",
            url: "/add",
            data: JSON.stringify({
              name: name,
              category: category,
              servings: servings,
              ingredients: ingredients,
              directions: directions,
            }),
            success: function (data) {
              console.log("Successful POST" + data);
            },
            error: function (error) {
              console.log(error);
            },
          });
        });
        $(".delete").on("click", function () {
          var id = $(this).attr("id");
          $.ajax({
            type: "DELETE",
            url: `/delete/${id}`,
            data: JSON.stringify({ id: id }),
            success: function (data) {
              console.log("Successful DELETE" + data);
            },
            error: function (error) {
              console.log(error);
            },
          });
        });
      });
    </script>
    <title>Recipe Book</title>
  </head>
  <body>
    <table id="table">
      <thead>
        <th>Recipe Title</th>
        <th>Category</th>
        <th>Servings</th>
        <th>Ingredients</th>
        <th>Directions</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for recipe in recipes%}
        <tr id="{{recipe.id}}">
          <td>{{recipe.title}}</td>
          <td>{{recipe.category}}</td>
          <td>{{recipe.servings}}</td>
          <td>{{recipe.ingredients}}</td>
          <td>{{recipe.directions}}</td>
          <td>
            <button class="edit" id="{{recipe.id}}">Edit</button>
            <button class="delete" id="{{recipe.id}}">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br /><br />
    <form id="form">
      Title: <input type="text" name="title" id="title" /><br />
      Category: <input type="text" name="category" id="category" /><br />
      Servings:
      <input type="number" min="1" name="servings" id="servings" /><br />
      Ingredients:
      <input type="text" name="ingredients" id="ingredients" /><br />
      Directions: <input type="text" name="directions" id="directions" /><br />
      <button type="submit" id="submit">Submit</button>
      <button type="reset">Reset</button>
    </form>
  </body>
</html>
