<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Recipe Book</title>
  </head>
  <body>
    <table>
      <thead>
        <th>Recipe Title</th>
        <th>Category</th>
        <th>Servings</th>
        <th>Ingredients</th>
        <th>Directions</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for recipe in recipes%}
        <tr>
            <td>{{recipe[1]}}</td>
            <td>{{recipe[2]}}</td>
            <td>{{recipe[3]}}</td>
            <td>{{recipe[4]}}</td>
            <td>{{recipe[5]}}</td>
            <td>
                <button id="edit">Edit</button>
                <button id="delete">Delete</button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
